<div style="padding: 10px 7px; font-family: monospace; font-size: 1.2rem">
  <div style="display: flex; flex-direction: row">
    <div style="flex: 1; font-size: 32px; padding: 0 3px">Login code</div>
  </div>

  <div style="padding: 7px 0">
    <p>
      Your login code is below — enter it in your open browser window and we
      will help you get signed in.
    </p>
  </div>

  <div
    style="
      background: aliceblue;
      padding: 10px;
      text-align: center;
      font-size: 32px;
      border: 1px solid steelblue;
      margin: 14px 0;
    "
  >
    {{ .Token }}
  </div>
  <div style="padding: 7px 0">
    <p>
      If you didn’t request this email, there’s nothing to worry about — you can
      safely ignore it.
    </p>
  </div>
  <div style="padding: 7px 0">
    <div>
      <a href="https://www.grati.co" target="_blank" style="color: #000"
        ><strong>grati.co OÜ</strong></a
      >
    </div>
    <div>Ahtri tn 12, Tallinn 10151</div>
    <br />
    <div>© All rights reserved.</div>
  </div>
</div>
